<?xml version="1.0"?>
<config>
    <modules>
        <PDP_Integration>
            <version>1.0.1</version>
        </PDP_Integration>
    </modules>
    <frontend>
        <routers>
            <integration>
                <use>standard</use>
                <args>
                    <module>PDP_Integration</module>
                    <frontName>integration</frontName>
                </args>
            </integration>
        </routers>
    </frontend>
    <admin>
        <routers>
            <integration>
                <use>admin</use>
                <args>
                    <module>PDP_Integration</module>
                    <frontName>integration</frontName>
                </args>
            </integration>
        </routers>
    </admin>
   <adminhtml>
        <acl>
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <integration>
                                        <title>integration - All</title>
                                    </integration>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
    </adminhtml> -->
    <global>
        <blocks>
            <integration>
                <class>PDP_Integration_Block</class>
            </integration>            
        </blocks>
        <helpers>
            <integration>
                <class>PDP_Integration_Helper</class>
            </integration>
        </helpers>
        <models>
            <integration>
                <class>PDP_Integration_Model</class>
            </integration>
        </models>
        <resources>
            <integration_setup>
                <setup>
                    <module>PDP_Integration</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </integration_setup>
            <integration_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </integration_write>
            <integration_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </integration_read>
        </resources>
		<events>
		<!-- <catalog_product_load_after>
			<observers>
				<extra_options>
					<type>model</type>
					<class>PDP_Integration_Model_Observer</class>
					<method>catalogProductLoadAfter</method>
				</extra_options>
			</observers>
		</catalog_product_load_after> -->
		<checkout_cart_product_add_after>
				<observers>
					<booking_standard_add_to_cart>
					  <type>singleton</type>
					  <class>PDP_Integration_Model_Observer</class>
					  <method>changePrice</method>
					</booking_standard_add_to_cart>
				</observers>
		</checkout_cart_product_add_after>
		</events>
    </global>  	
</config>